packages/jQuery.Validation.1.17.0/jQuery.Validation.1.17.0.nupkg
packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.min.js
packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.js
packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate-vsdoc.js
packages/jQuery.Validation.1.17.0/.signature.p7s
packages/jQuery.3.4.1/jQuery.3.4.1.nupkg
packages/jQuery.3.4.1/Tools/uninstall.ps1
packages/jQuery.3.4.1/Tools/jquery-3.4.1.intellisense.js
packages/jQuery.3.4.1/Tools/install.ps1
packages/jQuery.3.4.1/Tools/common.ps1
packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.slim.min.map
packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.slim.min.js
packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.slim.js
packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.min.map
packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.min.js
packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1.js
packages/jQuery.3.4.1/Content/Scripts/jquery-3.4.1-vsdoc.js
packages/jQuery.3.4.1/.signature.p7s
packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.woff2
packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.woff
packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.ttf
packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.svg
packages/bootstrap.3.4.1/contentFiles/fonts/glyphicons-halflings-regular.eot
packages/bootstrap.3.4.1/contentFiles/Scripts/bootstrap.min.js
packages/bootstrap.3.4.1/contentFiles/Scripts/bootstrap.js
packages/bootstrap.3.4.1/contentFiles/Content/bootstrap.min.css.map
packages/bootstrap.3.4.1/contentFiles/Content/bootstrap.min.css
packages/bootstrap.3.4.1/contentFiles/Content/bootstrap.css.map
packages/bootstrap.3.4.1/contentFiles/Content/bootstrap.css
packages/bootstrap.3.4.1/contentFiles/Content/bootstrap-theme.min.css.map
packages/bootstrap.3.4.1/contentFiles/Content/bootstrap-theme.min.css
packages/bootstrap.3.4.1/contentFiles/Content/bootstrap-theme.css.map
packages/bootstrap.3.4.1/contentFiles/Content/bootstrap-theme.css
packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.woff2
packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.woff
packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.ttf
packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.svg
packages/bootstrap.3.4.1/content/fonts/glyphicons-halflings-regular.eot
packages/bootstrap.3.4.1/content/Scripts/bootstrap.min.js
packages/bootstrap.3.4.1/content/Scripts/bootstrap.js
packages/bootstrap.3.4.1/content/Content/bootstrap.min.css.map
packages/bootstrap.3.4.1/content/Content/bootstrap.min.css
packages/bootstrap.3.4.1/content/Content/bootstrap.css.map
packages/bootstrap.3.4.1/content/Content/bootstrap.css
packages/bootstrap.3.4.1/content/Content/bootstrap-theme.min.css.map
packages/bootstrap.3.4.1/content/Content/bootstrap-theme.min.css
packages/bootstrap.3.4.1/content/Content/bootstrap-theme.css.map
packages/bootstrap.3.4.1/content/Content/bootstrap-theme.css
packages/bootstrap.3.4.1/bootstrap.3.4.1.nupkg
packages/bootstrap.3.4.1/LICENSE.txt
packages/bootstrap.3.4.1/.signature.p7s
packages/WebGrease.1.6.0/tools/WG.EXE
packages/WebGrease.1.6.0/lib/WebGrease.dll
packages/WebGrease.1.6.0/WebGrease.1.6.0.nupkg
packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.2/Newtonsoft.Json.12.0.2.nupkg
packages/Newtonsoft.Json.12.0.2/LICENSE.md
packages/Newtonsoft.Json.12.0.2/.signature.p7s
packages/Modernizr.2.8.3/Tools/uninstall.ps1
packages/Modernizr.2.8.3/Tools/install.ps1
packages/Modernizr.2.8.3/Tools/common.ps1
packages/Modernizr.2.8.3/Modernizr.2.8.3.nupkg
packages/Modernizr.2.8.3/Content/Scripts/modernizr-2.8.3.js
packages/Modernizr.2.8.3/.signature.p7s
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/Microsoft.jQuery.Unobtrusive.Validation.3.2.11.nupkg
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/Content/Scripts/jquery.validate.unobtrusive.min.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/Content/Scripts/jquery.validate.unobtrusive.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.11/.signature.p7s
packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/uninstall.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/net45/install.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/vbc.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csi.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/csc.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/VBCSCompiler.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XmlDocument.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Xml.ReaderWriter.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.ValueTuple.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Threading.Tasks.Extensions.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Managed.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.CSharp.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/vbc.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csi.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CSharp.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net46/app.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/content/net45/app.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
LoginApp/bin/roslyn/System.Xml.XPath.dll
LoginApp/bin/roslyn/System.Xml.XPath.XDocument.dll
LoginApp/bin/roslyn/System.Xml.ReaderWriter.dll
LoginApp/bin/roslyn/System.ValueTuple.dll
LoginApp/bin/roslyn/System.Threading.Tasks.Extensions.dll
LoginApp/bin/roslyn/System.Text.Encoding.CodePages.dll
LoginApp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
LoginApp/bin/roslyn/System.Security.Cryptography.Primitives.dll
LoginApp/bin/roslyn/System.Security.Cryptography.Encoding.dll
LoginApp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
LoginApp/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
LoginApp/bin/roslyn/System.Reflection.Metadata.dll
LoginApp/bin/roslyn/System.Net.Sockets.dll
LoginApp/bin/roslyn/System.Net.Http.dll
LoginApp/bin/roslyn/System.IO.FileSystem.dll
LoginApp/bin/roslyn/System.IO.FileSystem.Primitives.dll
LoginApp/bin/roslyn/System.IO.Compression.dll
LoginApp/bin/roslyn/System.IO.Compression.ZipFile.dll
LoginApp/bin/roslyn/System.Globalization.Calendars.dll
LoginApp/bin/roslyn/System.Diagnostics.StackTrace.dll
LoginApp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
LoginApp/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
LoginApp/bin/roslyn/System.Console.dll
LoginApp/bin/roslyn/System.Collections.Immutable.dll
LoginApp/bin/roslyn/System.AppContext.dll
LoginApp/bin/roslyn/Microsoft.Win32.Primitives.dll
LoginApp/bin/roslyn/Microsoft.VisualBasic.Core.targets
LoginApp/bin/roslyn/Microsoft.Managed.Core.targets
LoginApp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
LoginApp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
LoginApp/bin/roslyn/Microsoft.CodeAnalysis.dll
LoginApp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
LoginApp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
LoginApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
LoginApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
LoginApp/bin/roslyn/Microsoft.CSharp.Core.targets
LoginApp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
LoginApp/bin/WebGrease.dll
LoginApp/bin/System.Web.WebPages.xml
LoginApp/bin/System.Web.WebPages.dll
LoginApp/bin/System.Web.WebPages.Razor.xml
LoginApp/bin/System.Web.WebPages.Razor.dll
LoginApp/bin/System.Web.WebPages.Deployment.xml
LoginApp/bin/System.Web.WebPages.Deployment.dll
LoginApp/bin/System.Web.Razor.xml
LoginApp/bin/System.Web.Razor.dll
LoginApp/bin/System.Web.Optimization.xml
LoginApp/bin/System.Web.Optimization.dll
LoginApp/bin/System.Web.Mvc.xml
LoginApp/bin/System.Web.Mvc.dll
LoginApp/bin/System.Web.Helpers.xml
LoginApp/bin/System.Web.Helpers.dll
LoginApp/bin/Newtonsoft.Json.xml
LoginApp/bin/Newtonsoft.Json.dll
LoginApp/bin/Microsoft.Web.Infrastructure.dll
LoginApp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
LoginApp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
LoginApp/bin/LoginApp.pdb
LoginApp/bin/LoginApp.dll.config
LoginApp/bin/LoginApp.dll
LoginApp/bin/EntityFramework.xml
LoginApp/bin/EntityFramework.dll
LoginApp/bin/EntityFramework.SqlServer.xml
LoginApp/bin/EntityFramework.SqlServer.dll
LoginApp/bin/Antlr3.Runtime.pdb
LoginApp/bin/Antlr3.Runtime.dll
LoginApp/Services/LoginAppService.cs
LoginApp/Services/DataConversion.cs
LoginApp/Services/BosWebService.cs
LoginApp/Models/Constants.cs
LoginApp/Models/ADUserModel.cs
LoginApp/BOS.ADUsers.PasswordApp.csproj.user
LoginApp/BOS.ADUsers.PasswordApp.csproj
.vs/config/applicationhost.config
.vs/LoginApp/v16/.suo
.vs/LoginApp/v15/.suo
.vs/LoginApp/config/applicationhost.config
.vs/LoginApp/DesignTimeBuild/.dtbcache
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Runtime.InteropServices.RuntimeInformation.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Reflection.Metadata.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Sockets.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Net.Http.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.IO.Compression.ZipFile.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Globalization.Calendars.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Diagnostics.DiagnosticSource.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Console.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.Collections.Immutable.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/System.AppContext.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/RoslynLatest/Microsoft.Win32.Primitives.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/csc.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/VBCSCompiler.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Reflection.Metadata.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Diagnostics.StackTrace.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.Collections.Immutable.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/System.AppContext.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1/.signature.p7s
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.WebPages.3.2.7/Microsoft.AspNet.WebPages.3.2.7.nupkg
packages/Microsoft.AspNet.WebPages.3.2.7/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.7/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.7/.signature.p7s
packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
packages/Microsoft.AspNet.Web.Optimization.1.1.3/.signature.p7s
packages/Microsoft.AspNet.Razor.3.2.7/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Razor.3.2.7/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Razor.3.2.7/Microsoft.AspNet.Razor.3.2.7.nupkg
packages/Microsoft.AspNet.Razor.3.2.7/.signature.p7s
packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Mvc.5.2.7/Microsoft.AspNet.Mvc.5.2.7.nupkg
packages/Microsoft.AspNet.Mvc.5.2.7/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.7/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.7/.signature.p7s
packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.dll
packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.pdb
packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.exe
packages/EntityFramework.6.4.4/tools/net45/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/net45/any/ef6.exe
packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.pdb
packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.exe
packages/EntityFramework.6.4.4/tools/net40/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/net40/any/ef6.exe
packages/EntityFramework.6.4.4/tools/install.ps1
packages/EntityFramework.6.4.4/tools/init.ps1
packages/EntityFramework.6.4.4/tools/about_EntityFramework6.help.txt
packages/EntityFramework.6.4.4/tools/EntityFramework6.psm1
packages/EntityFramework.6.4.4/tools/EntityFramework6.psd1
packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psm1
packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psd1
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.xml
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.dll
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.dll
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.xml
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.dll
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.xml
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.dll
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.4.4/content/net40/Web.config.transform
packages/EntityFramework.6.4.4/content/net40/Web.config.install.xdt
packages/EntityFramework.6.4.4/content/net40/App.config.transform
packages/EntityFramework.6.4.4/content/net40/App.config.install.xdt
packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.targets
packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.props
packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.targets
packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.props
packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.targets
packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.props
packages/EntityFramework.6.4.4/build/Microsoft.Data.Entity.Build.Tasks.dll
packages/EntityFramework.6.4.4/build/EntityFramework.targets
packages/EntityFramework.6.4.4/build/EntityFramework.props
packages/EntityFramework.6.4.4/build/EntityFramework.DefaultItems.props
packages/EntityFramework.6.4.4/Icon.png
packages/EntityFramework.6.4.4/EntityFramework.6.4.4.nupkg
packages/EntityFramework.6.4.4/.signature.p7s
packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.pdb
packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.dll
packages/Antlr.3.5.0.2/Antlr.3.5.0.2.nupkg
LoginApp/obj/Debug/edmxResourcesToEmbed/Models/UsersModel.ssdl
LoginApp/obj/Debug/edmxResourcesToEmbed/Models/UsersModel.msl
LoginApp/obj/Debug/edmxResourcesToEmbed/Models/UsersModel.csdl
LoginApp/obj/Debug/TempPE/Models.UsersModel.cs.dll
LoginApp/obj/Debug/TempPE/Models.UsersModel.Designer.cs.dll
LoginApp/obj/Debug/TempPE/Models.UsersModel.Context.cs.dll
LoginApp/obj/Debug/LoginApp.pdb
LoginApp/obj/Debug/LoginApp.dll
LoginApp/obj/Debug/LoginApp.csprojAssemblyReference.cache
LoginApp/obj/Debug/LoginApp.csproj.FileListAbsolute.txt
LoginApp/obj/Debug/LoginApp.csproj.CoreCompileInputs.cache
LoginApp/obj/Debug/LoginApp.csproj.CopyComplete
LoginApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LoginApp/obj/Debug/BOS.ADUsers.PasswordApp.csprojAssemblyReference.cache
LoginApp/obj/Debug/BOS.ADUsers.PasswordApp.csproj.FileListAbsolute.txt
LoginApp/obj/Debug/BOS.ADUsers.PasswordApp.csproj.CoreCompileInputs.cache
LoginApp/obj/Debug/BOS.ADUsers.PasswordApp.csproj.CopyComplete
LoginApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LoginApp/bin/roslyn/vbc.rsp
LoginApp/bin/roslyn/vbc.exe.config
LoginApp/bin/roslyn/vbc.exe
LoginApp/bin/roslyn/csi.rsp
LoginApp/bin/roslyn/csi.exe.config
LoginApp/bin/roslyn/csi.exe
LoginApp/bin/roslyn/csc.rsp
LoginApp/bin/roslyn/csc.exe.config
LoginApp/bin/roslyn/csc.exe
LoginApp/bin/roslyn/VBCSCompiler.exe.config
LoginApp/bin/roslyn/VBCSCompiler.exe
LoginApp/bin/roslyn/System.Xml.XmlDocument.dll
